.hide {
	display: none !important;
}

li {
    margin-bottom: 5px;
}

input.long {
    width: 300px;
}

ul.inline li {
    display: inline;
    margin-right: 10px;
}

.terminal-wrapper h4 {
	border-bottom: 1px solid lightgrey;
	display: block;
}

.terminal-wrapper div {
	font-family: monospace;
}

.box {
    background: slategrey;
    width: 320px;
    height: 280px;
}

body {
    margin: 0;
}

.matter {
    margin: 10px;
}

.notification {
    background-color: lemonchiffon;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid palegoldenrod;
    color: dimgrey;
    font-family: calibri;
    font-size: 13px;
    display: inline-flex;
}

.notification .message {
    width: 100%;
}

.notification .close {
    margin-right: 10px;
    padding: 0 5px; 
    font-weight: bold;
    cursor: pointer;
}

.notification .close:hover {
    color: darkgrey;
}

header{
    background-color:#3385ff;
    text-align: center; 
    height: 50px; 
    margin:0;
    padding:0;
    font-size: 35px;
    font-weight: bold;
    color: white;
}


.btn-sm {
    border: 2px solid #3385ff;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

